<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">Bank App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/overview" routerLinkActive="router-link-active" >Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/overview/transactions" routerLinkActive="router-link-active" >Transactions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/overview/newTransaction" routerLinkActive="router-link-active" >New Transaction</a>
      </li>     
    </ul>
  </div>
  <div class="float-right"><button class="btn btn-danger" (click)="Logout()">Log out</button></div>
</nav>
